.formPassword{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    /* padding-right: 3rem; */
}
.formPassword input{
    width: 100%;
    height: 35px;
}
.passUPbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.passUPbutton button{
    background: rgb(68, 68, 70);
    color: white;
    border-radius: 5px;
    height: 2.5rem;
}