.RightSide {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: var(--cardColor);
  padding: 0.5rem;
  border-radius: 10px;
}
.navIcons {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.navIcons img {
  width: 1.5rem;
  height: 1.5rem;
}
