.type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.postStyle {
  border-radius: 10px;
  background: var(--buttonBg);
  color: white;
  border: none;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.commdata {
  background: rgb(103, 104, 101);
  margin: 1rem;
  width: fit-content;
  border-radius: 4px;
  padding: 0.5rem;
}
.comdelete {
  display: flex;
  justify-content: flex-end;
}
.comdelete:hover{
    cursor: pointer;
}
